@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');

.Root {
  width: 600px;
  margin: 40px auto;

  font: 14px 'IBM Plex Sans', sans-serif;

  .Profile {
    margin-bottom: 60px;
  }
}